
{% extends 'base.html.twig' %}

{% block body %}

<h1> Listado de Localidades </h1>
<ul>
	{% for localidad in localidades %}
	<li> 
		{{ localidad.nombre }} - 
		{{ localidad.area }} - 
		{{ localidad.habitantes }} - 
		{{ localidad.cp }} - 
		{{ localidad.provincia.nombre }}
	</li>
	{% endfor %}
</ul>
<a href="{{ path('localidad_nuevo') }}"> Añadir Localidad </a>

{% endblock %}
