{% extends 'base.html.twig' %}


{% block body %}

<h1>Listado de Localidad</h1>
<ul>
    {% for localidad in localidades %}
        <li>{{ localidad.nombre }} - {{ localidad.area }} - {{localidad.habitantes}} - {{localidad.cp}}</li>
    {% endfor %}
</ul>

<a href="{{ path('localidad_nuevo') }}">Añadir localidad</a>

{% endblock %}

